body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
@keyframes bounce {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(calc(100vw - 200px), 0); }
    50%  { transform: translate(calc(100vw - 200px), calc(100vh - 200px)); }
    75%  { transform: translate(0, calc(100vh - 200px)); }
    100% { transform: translate(0, 0); }
 }
